h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: navy;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.menu-header {
    font-family: 'Arial Black', Gadget, sans-serif;
    color: darkorange;
}

.menu-subheader {
    font-family: 'Arial Black', Gadget, sans-serif;
    color: darkblue;
}

.menu-caption {
    font-family: 'Arial Black', Gadget, sans-serif;
    color: darkmagenta;
}

.veg {
    color: green;
}

.non-veg {
    color: red;
}